greenVersionLight
{
    --text-color: #011808;
    --background-color: #f1fef6;
    --primary: #0e622d;
    --secondary: #9edbb7;
    --accent: #6fce90;
}
greenVersionDark :root[data-theme="dark"]
{
    --text: #e7feee;
    --background-color: #010e06;
    --primary: #9df1bc;
    --secondary: #24613d;
    --accent: #319053;    
}
blueVersionLight
{
    --text: #0b0b16;
    --background: #f5f5ff;
    --primary: #000059;
    --secondary: #c6a160;
    --accent: #8e928f;
}
blueVersionDark :root[data-theme="dark"]
{
    --text: #ebebf5;
    --background: #00000a;
    --primary: #0202d8;
    --secondary: #9d7939;
    --accent: #6e726f;    
}
redVersionLight
{
    --text: #0f0201;
    --background: #feefee;
    --primary: #7a2b2b;
    --secondary: #e78585;
    --accent: #ef5151;    
}
redVersionDark :root[data-theme="dark"]
{
    --text: #fef2f1;
    --background: #130201;
    --primary: #d58686;
    --secondary: #7b1818;
    --accent: #ad1010;
}

yellowVersionLight
{
    --text: #1d1d02;
    --background: #fcfcf3;
    --primary: #cec62c;
    --secondary: #ebeb00;
    --accent: #ffc800;
    /* --FFEB00 possible secondary */
}
yellowVersionDark :root[data-theme="dark"]
{
    --text: #fdfde2;
    --background: #0c0c03;
    --primary: #d3cb31;
    --secondary: #ffff14;
    --accent: #ffc800;
}

.topnav
{
       
}
