blueVersionLight
{
    --text: #0b0b16;
    --background: #f5f5ff;
    --primary: #000059;
    --secondary: #c6a160;
    --accent: #8e928f;
}
blueVersionDark :root[data-theme="dark"]
{
    --text: #ebebf5;
    --background: #00000a;
    --primary: #0202d8;
    --secondary: #9d7939;
    --accent: #6e726f;    
}
